#operator_screen {
  border: 1px solid black;
  display: inline-block;
  line-height: 30px;
  text-align: right;
  padding-right: 10px;
  height:30px;
  width: 20px;
  margin-left: 4px;
}
#display_screen {
  height: 30px;
  width: 120px;
  border: 1px solid black;
  line-height: 30px;
  text-align: right;
  padding-right: 10px;
  display: inline-block;
}


.button {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  line-height:30px;
  margin: 5px;
  display: inline-block;
}

.button:hover {
  background: black;
  color: white;
}

#calculator_body {
  border: 1px solid black;
  height: 250px;
  width: 180px;
}